@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-signature {
  font-family: "Great Vibes", cursive;
}

html {
  scroll-behavior: smooth;
}

.animate-float-smooth-slow {
  animation: float-smooth-reverse 18s ease-in-out infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
